<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login View</title>
  </head>
  <body>
    <header>
      <h1>Practica MVC Login...</h1>
    </header>
    <section>
      <form action="../Controller/loginController.php" method="post">
        <div class="formgrup">
          <label for="user">Usuario : </label>
          <input type="text" name="user" id="user" placeholder="Usuario..." />
        </div>
        <div class="formgrup">
          <label for="passwrod">Password : </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password..."
          />
        </div>
        <div class="formgrup">
          <input type="submit" value="Login..." />
        </div>
      </form>
      <p>
        Aun no tienes cuenta?
        <a href="./registerView.php">registrate aqui...</a>
      </p>
    </section>
    <footer>
      <h3>Pie de pagina ok...</h3>
    </footer>
  </body>
</html>
